#[include menu_fast_infill.cfg]

[menu __main __octoprint]
type: disabled

[menu __main __sdcard]
type: disabled

################
## KlackEnder ##
################

[menu __main]
type: list
name: Main

[menu __main __KlackEnder]
type: list
enable: True
name: KlackEnder

[menu __main __KlackEnder __ProbeOut]
type: command
name: Probe Out
gcode:
    PROBE_OUT

[menu __main __KlackEnder __ProbeIn]
type: command
name: Probe In
gcode:
    PROBE_IN

[menu __main __KlackEnder __AutoBedMesh]
type: command
name: Auto Bed Mesh
gcode:
    # G28
    AUTO_BED_MESH

[menu __main __KlackEnder __HomeAll]
type: command
name: Home All
gcode:
    G28
